/* Fonts */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

/* Basic styles and resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.main-index {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-navigation-btn {
  position: relative;
  padding: 14px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.catalog-navigation-btn {
  position: relative;
  padding: 14px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.site-navigation-btn::after {
  position: absolute;
  bottom: 5px;
  left: 20px;
  display: none;
  width: 125px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.site-navigation-btn:hover::after {
  display: block;
}

.site-navigation-btn:active {
  opacity: 0.3;
}

.content-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

/* Header */

.page-header {
  margin: 0 auto;
  margin-top: 40px;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  padding: 0 60px;
  padding-bottom: 134px;
  background-color: #ffe17f;
}

.logo {
  margin-top: -23px;
  margin-bottom: 18px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 11px;
}

.user-list-item {
  position: relative;
}

.user-list-item:last-child {
  margin-right: -20px;
}

.user-list-btn::after {
  content: "";
  position: absolute;
}

.search-item {
  position: relative;
  margin-right: 51px;
  padding-left: 0;
}

.search-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/seacrh.svg");
}

.search-form {
  position: relative;
}

.header-search {
  margin-left: -10px;
  padding: 10px 0;
  padding-left: 46px;
  width: 480px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.header-search:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.header-search:hover::placeholder {
  color: #000000;
}

.header-search:not(:placeholder-shown) {
  box-shadow: 0 0 0 2px #000000;
  color: #000000;
}

.header-search:not(:placeholder-shown) + .find-btn {
  display: block;
}

.header-search::-webkit-search-cancel-button {
  appearance: none;
}

.find-btn {
  display: none;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 160px;
  height: 43px;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0 20px 20px 0;
}

.find-btn:focus {
  outline: none;
  border-color: #af4fff;
}

.find-btn:hover {
  background-color: #000000;
  color: #fcfcfc;
}

.find-btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.user-list-btn {
  position: relative;
  display: block;
  padding: 10px 14px 10px 44px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.user-list-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.user-list-btn:hover {
  opacity: 0.6;
}

.user-list-btn:active {
  opacity: 0.3;
}

.enter {
  margin-right: 150px;
}

.enter::after {
  top: 12px;
  left: 19px;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg");
}

.compare {
  margin-right: 23px;
}

.compare::after {
  top: 12px;
  left: 24px;
  width: 10px;
  height: 12px;
  background: url("../img/compare.svg");
}

.cart::after {
  top: 10px;
  left: 19px;
  width: 16px;
  height: 14px;
  background: url("../img/cart.svg") no-repeat;
}

.bucket-popup {
  position: absolute;
  top: 42px;
  right: -66px;
  display: none;
  z-index: 1;
  padding: 20px;
  background-color: #000000;
  color: #fcfcfc;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.bucket-popup::before {
  position: absolute;
  top: -4px;
  left: 150px;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #000000;
  transform: rotate(45deg);
  content: "";
}

.bucket-products-list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style-type: none;
}

.bucket-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.bucket-list-item:last-child {
  margin-bottom: 0;
}

.bucket-image {
  margin-right: 23px;
}

.bucket-item-text {
  margin: 0;
  margin-right: 54px;
  font-size: 16px;
  line-height: 20px;
}

.bucket-close-btn {
  margin-bottom: 17px;
  width: 11px;
  height: 11px;
  border: none;
  background-color: transparent;
  background-image: url("../img/cross-white.svg");
  background-repeat: no-repeat;
}

.totals-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  background-color: #1a1a1a;
}

.totals-text {
  margin: 0;
  font-size: 16px;
  line-height: 44px;
}

.bucket-btn {
  display: block;
  width: 100%;
  margin-bottom: 1px;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #fcfcfc;
}

.cart-item {
  padding-bottom: 10px;
}

.cart-item:hover .bucket-popup {
  display: block;
}

.counter {
  position: absolute;
  top: 8px;
  left: 4px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
}

.nav-list-item {
  margin-top: 9px;
  color: #000000;
}

.nav-list-item:nth-child(3) {
  margin-left: -9px;
  margin-right: 50px;
}

.nav-list-item:last-child {
  margin-right: -50px;
}

.main-nav-list .site-navigation-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.catalog-item {
  position: relative;
  margin-right: 274px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
}

.catalog-item .site-navigation-btn {
  position: relative;
  padding: 15px 20px;
  padding-right: 13px;
  border-radius: 25px;
}

.subcatalog {
  position: absolute;
  bottom: -164px;
  left: -40px;
  z-index: 5;
  display: none;
  width: 1160px;
  padding: 30px 50px 58px 45px;
  background-color: #ffe17f;
}

.subcatalog-list {
  display: grid;
  grid-template-columns: 223px 172px 200px;
  grid-template-rows: repeat(3, 20px);
  grid-auto-flow: column;
  grid-gap: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  bottom: 0;
}

.subcatalog-list-item:last-child {
  margin-left: 13px;
  grid-column: 3/4;
}

.subcatalog-btn {
  display: block;
  padding: 3px 15px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  background-color: transparent;
  border-radius: 25px;
}

.subcatalog-btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.subcatalog-btn:hover {
  opacity: 0.6;
}

.subcatalog-btn:active {
  opacity: 0.3;
}

.catalog-item .catalog-navigation-btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.catalog-item .site-navigation-btn:focus-within + .subcatalog {
  display: flex;
}

.catalog-item:hover .subcatalog {
  display: flex;
}

.catalog-item .catalog-navigation-btn:hover::after {
  background: url("../img/minus.svg") no-repeat center;
  opacity: 1;
}

.catalog-item .catalog-navigation-btn:active {
  opacity: 0.3;
}

.catalog-item .catalog-navigation-btn:active::after {
  background: url("../img/minus.svg") no-repeat center;
}

.catalog-item .catalog-navigation-btn::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -47px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/plus.svg") no-repeat center;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  cursor: pointer;
}

.link-btn {
  position: relative;
  display: block;
  width: 220px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.link-btn::after {
  content: "";
  position: absolute;
  top: 7px;
  z-index: -1;
  display: block;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
}

.link-btn:focus {
  outline: none;
}

.link-btn:focus::after {
  background-color: #af4fff;
}

.link-btn:hover::after {
  height: 50px;
  top: -15px;
}

.link-btn:hover:focus::after {
  background-color: #ffe17f;
}

.link-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Slider */

.promo {
  position: relative;
  margin-top: -150px;
  margin-bottom: 61px;
}

.promo-slide {
  display: none;
}

.promo-slide-active {
  display: flex;
}

.slide-img {
  margin-right: 41px;
}

.slide-desc {
  position: relative;
  padding-top: 122px;
}

.slider-number {
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 82px;
  right: 49px;
  margin: 0;
  font-size: 180px;
  font-weight: 800;
  color: #fcfcfc;
}

.promo-slide-heading {
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  font-family: "Raleway", serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.promo-slide-text {
  margin: 0;
  margin-bottom: 50px;
  width: 560px;
  color: #444444;
}

.slide-desc .link-btn {
  margin-bottom: 59px;
}

.info-table {
  margin-left: -4px;
}

.table-bold {
  height: 46px;
  width: 158px;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.table-heading {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.slider-control {
  position: absolute;
  top: 250px;
  width: 40px;
  height: 80px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
  border-radius: 5px;
}

.slider-control:hover {
  opacity: 0.6;
}

.slider-control:active {
  opacity: 0.3;
}

.control-next {
  top: 240px;
  left: 511px;
}

.control-prev {
  top: 240px;
  left: 9px;
}

.slider-pagination {
  position: absolute;
  right: 60px;
  bottom: 189px;
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.slider-pagination-btn {
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.slider-pagination-btn:hover {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.6);
}

.slider-pagination-btn:active {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.slider-pagination-btn-active {
  background-color: #000000;
}

/* Products block */

.products {
  margin-bottom: 81px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-column-gap: 40px;
}

.products-container-item {
  position: relative;
  display: block;
  padding-top: 193px;
  text-decoration: none;
  color: inherit;
}

.products-container-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
}

.products-container-item:focus {
  outline: none;
}

.products-container-item:focus::before {
  box-shadow: inset 0 0 0 5px #af4fff;
}

.products-container-item:focus .products-heading {
  color: #af4fff;
}

.products-container-item:hover::before {
  background-color: #ffc700;
}

.products-container-item:active {
  opacity: 0.3;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
}

.vr::before {
  background-image: url("../img/vr.svg");
  background-repeat: no-repeat;
  background-position: 51% 50%;
  background-color: #ffe17f;
}

.monopod::before {
  background-image: url("../img/monopod.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #ffe17f;
}

.action-camera::before {
  background-image: url("../img/action-camera.svg");
  background-repeat: no-repeat;
  background-position: 56% 52%;
  background-color: #ffe17f;
}

.fitbit::before {
  background-image: url("../img/fitbit.svg");
  background-repeat: no-repeat;
  background-position: 50% 53%;
  background-color: #ffe17f;
}

.smart-watch::before {
  background-image: url("../img/smart-watch.svg");
  background-repeat: no-repeat;
  background-position: 51% 50%;
  background-color: #ffe17f;
}

.quadcopter::before {
  background-image: url("../img/quadcopter.svg");
  background-repeat: no-repeat;
  background-position: 50% 54%;
  background-color: #ffe17f;
}

.products-heading {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

/* Advantages block */

.advantages {
  background: linear-gradient(to bottom, transparent 26%, #f0f0f0 26%);
  margin-bottom: 90px;
  padding-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin-right: 116px;
  padding-top: 80px;
  padding-bottom: 39px;
  border-right: 7px solid #000000;
}

.advantages-list-item {
  width: 277px;
  background-color: transparent;
  color: #000000;
  margin-bottom: 44px;
}

.advantages-list-item:last-child {
  margin-bottom: 40px;
}

.advantages-list-item .link-btn {
  z-index: 1;
  width: 165px;
  border: none;
}

.advantages-list-item .link-btn::after {
  width: 160px;
  right: 5px;
  top: 6px;
  background-color: #ffc700;
}

.advantages-list-item .link-btn:focus::after {
  background-color: #af4fff;
}

.advantages-list-item .link-btn:hover::after {
  top: -14px;
}

.list-item-active {
  margin-bottom: 34px;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #000000;
  color: #ffe17f;
}

.list-item-active .link-btn {
  color: #ffe17f;
}

.list-item-active .link-btn::after {
  background-color: transparent;
}

.advantages-desc-list {
  padding: 71px 0;
}

.advantages-desc-item {
  position: relative;
  display: none;
  padding-right: 241px;
}

.desc-item-active {
  display: block;
}

.desc-heading {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.desc-text {
  margin: 0;
  width: 453px;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.delivery-icon::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 0;
  width: 136px;
  height: 164px;
  background: url("../img/delivery.svg");
}

.warranty-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 171px;
  height: 195px;
  background: url("../img/warranty.svg");
}

.loan-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 156px;
  height: 188px;
  background: url("../img/loan.svg");
}

/* Delivery block */

.delivery {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 97px;
}

.delivery-text {
  position: relative;
  margin: 0;
  padding-top: 38px;
  padding-bottom: 39px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.delivery-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background: url("../img/delivery-car.svg") no-repeat 50% 50%;
  background-color: #ffe17f;
}

.delivery-text::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 33px;
  width: 40px;
  height: 40px;
  background: url("../img/info.svg") no-repeat center;
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  opacity: 0.3;
}

.delivery-text:focus {
  outline: none;
  box-shadow: inset 0 0 0 5px #af4fff;
}

.delivery-text:focus::after {
  box-shadow: inset 5px 0 0 0 #af4fff,
              inset 0 5px 0 0 #af4fff,
              inset 0 -5px 0 0 #af4fff;
}

.delivery-text:hover::after {
  background-color: #ffc700;
}

.delivery-text:hover::before {
  opacity: 1;
}

.delivery-text:active {
  opacity: 0.3;
}

/* Two small blocks */
.index-columns {
  margin-bottom: 86px;
}

.index-columns .content-container {
  justify-content: space-between;
}

/* About block */

.about {
  position: relative;
  padding-top: 50px;
  width: 560px;
}

.about::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.small-block-heading {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.small-block-text {
  width: 500px;
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
}

.small-block-list {
  margin-top: 76px;
}

.small-block-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: normal;
}

.small-block-item::after {
  position: absolute;
  top: 5px;
  left: 1px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.small-block-item:last-child {
  margin-bottom: 71px;
}

.about .link-btn {
  width: 260px;
}

.about .link-btn::after {
  width: 260px;
}

/* Adress block */

.adress {
  position: relative;
  padding-top: 50px;
  width: 560px;
}

.adress::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.adress-block {
  margin-bottom: 67px;
}

.adress-details {
  margin: 0;
  color: #444444;
}

.adress-text {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
}

.tel-link {
  display: block;
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: inherit;
}

.adress .link-btn {
  width: 260px;
}

.adress .link-btn::after {
  width: 260px;
}

/* Subscribe block */

.subscribe {
  background-color: #ebebeb;
}

.subscribe .content-container {
  flex-direction: column;
  padding-top: 76px;
  padding-bottom: 131px;
}

.subscribe-desc {
  display: flex;
  margin-bottom: 58px;
}

.subscribe-heading {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin-right: 253px;
}

.subscribe-text {
  margin: 0;
  margin-top: 10px;
  color: #444444;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  width: 600px;
  padding: 14px 0 9px 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.subscribe-input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.subscribe-input:focus {
  outline: none;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.subscribe-input:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.subscribe-input:not(:placeholder-shown) {
  border-color: #000000;
}


.subscribe-btn {
  margin-right: 136px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 14px 38px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.subscribe-btn:focus {
  outline: none;
  border: 3px solid #af4fff;
}

.subscribe-btn:hover {
  background-color: #000000;
  color: #fcfcfc;
}

.subscribe-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.free-text {
  position: relative;
  margin: 0;
  margin-top: 1px;
  padding-left: 35px;
  color: #444444;
}

.free-text::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/checkmark.svg");
}

/* Footer */

.page-footer {
  padding: 62px 140px;
  background-color: #444444;
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  color: #fcfcfc;
}

.footer-logo {
  margin-left: -2px;
  margin-bottom: 26px;
}

.footer-adress {
  position: relative;
  width: 240px;
  margin-top: 26px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 73px;
}

.footer-adress::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-link-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 57px;
}

.footer-list-item:not(:first-child) {
  margin-left: -12px;
}

.footer-list-item .site-navigation-btn:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
}

.footer-list-item .site-navigation-btn:hover {
  color: #ffc700;
}

.footer-list-item .site-navigation-btn:hover::after {
  background-color: #ffc700;
}

.footer-list-item .site-navigation-btn:active {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 156px;
  margin: 0 auto;
}

.middle-footer-list {
  margin-top: 71px;
  max-width: 515px;
}

.footer-tel-link {
  display: block;
  margin-bottom: 47px;
  padding: 3px 7px;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  border-radius: 25px;
}

.footer-tel-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.footer-tel-link:hover {
  color: #ffc700;
}

.footer-tel-link:active {
  opacity: 0.3;
}

.social-link {
  margin-right: 15px;
  margin-bottom: 5px;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7c7c7c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-link-item:focus {
  outline: none;
  border: 5px solid #af4fff;
  background-color: transparent;
}

.social-link-item:focus path {
  fill: #fcfcfc;
}

.social-link-item:focus:hover path {
  fill: #444444;
}

.social-link-item:hover {
  background-color: #ffc700;
}

.social-link-item:active:focus {
  border-color: transparent;
}

.social-link-item:active path {
  opacity: 0.3;
}

.social-link:last-child {
  margin-right: 0;
}

.footer-left-column {
  margin-right: 103px;
}

.footer-right-column {
  margin-top: 68px;
  margin-left: auto;
  margin-right: -10px;
}

.html-academy-logo {
  display: block;
  margin-left: 57px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.html-academy-logo:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.html-academy-logo:hover .white-logo {
  fill: #fcfcfc;
}

.html-academy-logo:active {
  opacity: 0.3;
}

/* Modal */
.modal-delivery-form {
  display: none;
  background-color: rgba(229,229,229, 0.5)
}

.modal-open {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

.modal-wrapper {
  position: relative;
  display: block;
  margin: auto;
  padding: 63px 70px 76px 70px;
  background-color: #fcfcfc;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-gap: 35px 40px;
}

.close-modal {
  position: absolute;
  right: 58px;
  top: 67px;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: #fcfcfc;
  background-image: url("../img/big-cross-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.close-modal:focus {
  outline: none;
  border-color: #af4fff;
}

.close-modal:hover {
  opacity: 0.5;
}

.close-modal:focus:active {
  border-color: transparent;
  opacity: 0.3;
}

.form-input {
  width: 100%;
  padding: 17px 50px 17px 18px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f0f0f0;
  border: 3px solid transparent;
}

.delivery-form label {
  display: block;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.btn-link {
  color: inherit;
  text-decoration: none;
}

.modal-link {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/icons/cross.svg") no-repeat 50% 50%;
  text-decoration: none;
}

.delivery-form-heading {
  margin: 0;
  margin-bottom: 62px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.form-row {
  position: relative;
  margin: 0;
}

.form-row:last-child {
  margin-bottom: 30px;
}

.form-textarea {
  height: 60px;
}

.name {
  position: relative;
}

.email {
  position: relative;
  grid-column: span 2;
}

.textarea {
  position: relative;
  grid-column: span 2;
}

.name-input {
  background-image: url("../img/user-gray.svg");
  background-repeat: no-repeat;
  background-position: 323px;
}

.email-input {
  background-image: url("../img/mail-gray.svg");
  background-repeat: no-repeat;
  background-position: 322px;
}

.message {
  position: absolute;
  bottom: -31px;
  left: 0;
  font-size: 14px;
}

.message-error {
  color: #ff3d3d;
}

.tooltip {
  position: absolute;
  bottom: 222px;
  right: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #ffe17f;
  cursor: pointer;
}

.tooltip-hint {
  position: absolute;
  right: 46px;
  bottom: 55px;
  display: none;
  width: 200px;
  height: 160px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.tooltip-hint::before {
  position: absolute;
  top: -3px;
  right: 44px;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #000000;
  transform: rotate(45deg);
  content: "";
}

.tooltip-text {
  margin: 0;
  padding: 19px 17px 0 19px;
}

.tooltip:hover + .tooltip-hint {
  display: block;
}

.delivery-form .filter-btn {
  margin-top: 12px;
  margin-left: 2px;
}

.delivery-form .filter-btn::after {
  left: -2px;
}

.delivery-form .form-input {
  cursor: pointer;
}

.delivery-form .form-input:focus {
  outline: none;
  border-color: #af4fff;
}

.delivery-form .form-input:hover {
  background-color: #ebebeb;
}

.delivery-form .form-input:focus:not(:placeholder-shown) {
  outline: none;
  border-color: #000000;
}

.count {
  padding-left: 74px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.count-sign {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 53px;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.count-minus-btn {
  left: 11px;
  background: url("../img/minus.svg") no-repeat center;
  opacity: 0.3;
}

.count-plus-btn {
  right: 11px;
  background: url("../img/plus.svg") no-repeat center;
  opacity: 0.3;
}

.count-sign:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
  opacity: 1;
}

.count-sign:hover {
  opacity: 1;
}

.count-sign:active {
  opacity: 0.1;
}

/* Catalog page */

.catalog-heading {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 19px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;
  margin-left: -13px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 1px;
  padding-right: 10px;
}

.breadcrumbs-item:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

.breadcrumbs-link {
  display: block;
  padding: 5px 12px 6px 12px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.breadcrumbs-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 5px #af4fff;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  display: block;
  width: 4px;
  height: 7px;
  background: url("../img/breadcrump-arrow.svg");
}

.breadcrumbs-item:last-of-type::after {
  display: none;
  background: none;
}

/* Block with filters */

.filter-heading {
  margin: 0;
  padding: 20px 174px 20px 60px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.select {
  display: flex;
  align-items: center;
}

.select-control {
  position: relative;
  padding: 4px 41px 7px 13px;
  padding-right: 26px;
  appearance: none;
  font-family: inherit;
  font-size: 16px;
  border: none;
  background: url("../img/select-arrow.svg") no-repeat right;
  cursor: pointer;
}

.select-control:focus {
  outline: none;
  box-shadow: inset 0 0 0 5px #af4fff;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select .sorting-heading {
  margin-right: 37px;
  padding: 26px 0 25px 0;
}

.catalog-filter {
  padding: 69px 69px 0 59px;
  background-color: #ebebeb;
}

.catalog-filter-item {
  margin-bottom: 17px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

/* Range */
.range {
  max-width: 200px;
  overflow: visible;
  padding-top: 8px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 13px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  left: 0;
  width: 119px;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus {
  outline: none;
  border-color: #af4fff;
}

.range-scale:focus + .range-wrapper-inputs {
  color: #af4fff;
}

.range-toggle:active {
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  margin-left: -5px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 29px;
  line-height: 22px;
  opacity: 0.3;
}

.range-input {
  width: 50px;
  margin-left: 1px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::placeholder {
  color: #000000;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.sorting-heading {
  margin: 0;
  padding: 26px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

.catalog-filter-title {
  position: relative;
  margin-bottom: 26px;
  padding-top: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.catalog-filter-group:first-child .catalog-filter-title {
  margin-bottom: 29px;
}

.filter-btn {
  position: relative;
  width: 200px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  z-index: 1;
}

.filter-btn::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
  width: 200px;
  height: 8px;
  background-color: #ffc700;
  z-index: -1;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 46px 40px;
  margin-bottom: 46px;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.new-item::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 27px;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/new-item.svg");
}

.product-desc {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-price {
  font-weight: 400;
  color: #444444;
}

.pagination-show-more {
  width: 100%;
  margin-bottom: 51px;
  padding: 15px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.pagination-show-more:focus {
  outline: none;
  border-color: #af4fff;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.pagination-show-more:focus:hover {
  outline: none;
  border-color: #000000;
  box-shadow: none;
}

.pagination-show-more:hover {
  border-color: #000000;
}

.pagination-show-more:active {
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin-bottom: 77px;
  background-color: #ebebeb;
}

.pagination {
  display: flex;
}

.pagination-item {
  font-size: 16px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.pagination-item .pagination-link {
  padding: 7px 8px 5px 11px;
  border: 5px solid transparent;
  line-height: 19px;
}

.pagination-item .pagination-link:hover {
  color: #000000;
}

.pagination-item .pagination-link:active {
  opacity: 0.1;
}

.pagination-prev,
.pagination-next {
  border: 5px solid transparent;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.pagination-prev {
  margin-right: 166px;
  padding: 21px 29px 20px 25px;
}

.pagination-next {
  padding: 21px 22px 20px 29px;
}

.pagination-link:focus {
  outline: none;
  border-color: #af4fff;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.inner-site-navigation {
  width: 1160px;
  margin: 0 auto;
}

.catalog-products {
  background: linear-gradient(to right, #ebebeb 50%, #ffffff 50%);
}

.products-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-container {
  padding: 0 60px;
}

.control {
  position: relative;
  display: block;
  padding-left: 38px;
  line-height: 22px;
}

.control-label {
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/checked.svg");
}

.control-input:focus + .control-mark {
  border-color: #af4fff;
}

.control-input[type="checkbox"]:focus + .control-mark::before {
  background: url("../img/checked-purple.svg");
}

.control-input:hover + .control-mark {
  opacity: 0.5;
}

.control-input:hover ~ .control-label {
  opacity: 0.5;
}

.control-input:active + .control-mark {
  opacity: 0.2;
}

.control-input:active ~ .control-label {
  opacity: 0.2;
}

.control-input:not(:checked) + .control-mark {
  opacity: 0.2;
}

.control-input[type="checkbox"]:not(:checked):focus + .control-mark {
  opacity: 1;
  border-color: #af4fff;
}


/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:not(:checked) + .control-mark {
  opacity: 0.2;
}

.control-input[type="radio"]:focus + .control-mark {
  border-color: #af4fff;
}

.control-input[type="radio"]:focus + .control-mark::before {
  background-color: #af4fff;
}

.control-input[type="radio"]:hover {
  opacity: 0.5;
}

.catalog-user-item {
  display: flex;
  margin-right: 14px;
}

.catalog-user-item :first-child {
  margin-right: 0;
}

.catalog-user-item :last-child {
  padding: 0 14px;
  opacity: 0.3;
}

.catalog-header {
  padding-bottom: 20px;
}

.card {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.card-image {
  margin-bottom: 23px;
}

.card-btn {
  display: none;
  position: absolute;
  top: 182px;
  left: 82px;
}

.card-btn::after {
  left: 8px;
  width: 180px;
}

.card:focus {
  outline: none;
}

.card:focus .card-image {
  outline: 5px solid #af4fff;
}

.card:focus .product-desc {
  color: #af4fff;
}

.product-card:hover .card-image {
  opacity: 0.5;
}

.product-card:hover .card-btn {
  display: block;
}

.sorting {
  background: linear-gradient(to right, #dcdcdc 50%, #ebebeb 50%);
}

.sorting-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
  background-color: #ebebeb;
}

.catalog-right-column {
  padding: 69px 0 0 72px;
  background-color: #ffffff;
}

.sorting-card {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/sorting-arrow.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting-card:focus {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.sorting-card:hover {
  opacity: 0.6;
}

.sorting-card:active {
  opacity: 1;
}

.sorting-card-active {
  opacity: 1;
}

.card-down-top {
  margin-right: 19px;
}

.card-top-down {
  transform: rotate(-180deg);
}

.sorting-arrows {
  display: flex;
}

.catalog-filter-label {
  font-size: 15px;
}

.catalog-filter .catalog-filter-group:nth-child(2) {
  margin-bottom: 25px;
}

.catalog-filter .catalog-filter-group:nth-child(3) {
  margin-bottom: 36px;
}

.page-number-list {
  margin-right: 114px;
}

.error {
  border-color: #ff3d3d;
}
